.backtoback{
    position: relative;
}

.badan{

}

.container{
    position: absolute;
    top: 0px;
    height: 585px;
    width: 100%;
    background-color: #2C2C2C;
    z-index: -1;
}

.parent{
    grid-template-columns: 50% 50%;
    display: grid;
    color: white;
    padding-left: 228px;
    padding-top: 75px;
    padding-right:200px;
    gap: 50px;
}

.parent-title{
    line-height: 50px;
}

.parent-deskripsi{
    margin-left:199px;
    margin-top:175px;
}

.pdf{
    width: 449px;
    height: 629px;
}