.footer {
    background-color: #2C2C2C;
    color: white;
    position: absolute;
    bottom: 0;
}

.parent{
    grid-template-columns: 50% 50%;
    padding-right: 200px;
    padding-left: 200px;
    padding-top:40px;
    gap: 100px;
}

.produk{
    display:inline;
}

.desc-judul{

}

.contact{
  margin-top: 10px;
}