.footer {
    background-color: #2C2C2C;
    color: white;
    position: absolute;
    bottom: 0px;
    display:flex;
}

.parent{
    display:grid;
    grid-template-columns: 50% 50%;
    padding-right: 200px;
    padding-left: 200px;
    padding-top:40px;
    gap: 50px;
}

.produk{
    display:inline;
}
.desc-judul{

}

.contact{
  
}