.main__page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.loading_screen {
    position:fixed;
    top:0%;
    left:0%;
    width: 100vw;
    height:100vh;
    background-color: black;
    display: flex;
    padding:0px;
    margin:0px;
    z-index:99;
    justify-content: center;
    align-items: center;
}
.loading_screen img {
    width: 15vw;
    height: 15vh;
}