
//kenapa pake scss? buat ngindarin tabrakan seandainya kita ngasih nama class yang sama caranya tinggal masukin class ke dalam class
// contoh variable di scss
$widthLoadingScreen: 100vw;
$heightLoadingScreen: 100vh;


.main__page {
    width: 100vw;
    height: fit-content !important;
    width: 100vw;
    // .even {
    //     background-image:url(./gradient-page-left.jpg);
    //     background-size: 1000px 2000px;
    //     background-position:right top;
    //     background-repeat:repeat-y;
    // }
    
    // .odd {
    //     background-image:url(./gradient-page-right.jpg);
    //     background-position:left top;
    //     background-repeat:repeat-y;
    // }
    .page__slider {
        width: 100%; // Set the width of the slider
        height: 8px; // Set the height of the track
        border-radius: 4px; // Round the edges of the track
        appearance: none; // Remove default styles
      
        &::-webkit-slider-thumb {
          width: 16px; // Set the width of the thumb
          height: 16px; // Set the height of the thumb
          background-color: red; // Set the color of the thumb
          border: 2px solid red; // Add a border to the thumb
          border-radius: 50%; // Round the thumb to make it circular
          appearance: none; // Remove default styles
          cursor: pointer; // Change cursor to indicate interactivity
        }
      }
      
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0px;
    margin:0px;
    align-items: center;
    min-height: $heightLoadingScreen;
    width: $widthLoadingScreen;
    overflow-x: hidden; 

    .loading_screen {
        width: 100vw;
        height:100vh;
        background-color: black;
        display: flex;
        padding:0px;
        margin:0px;
        justify-content: center;
        align-items: center;
    }
    .loading_screen img {
        width: 15vw;
        height: 15vh;
    }
    main {
        width: 100vw;
        height:90vh;
        background-color: #303030;
        display: none;
        position:relative;
        // padding:100px 0px;
        /* overflow: hidden; */
    }
    .main_top {
        width: 100%;
        height:90vh;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .magazine_section {
        height:90vh;
        width: 95vw;
        overflow: scroll;
        scrollbar-width: none; /* Hide scrollbar for Firefox */
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */ 
    }
    .magazine_section::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    }
    #magazine {
        width: 800px;
        height: 600px;
    }
    .animated{
        -webkit-transition:margin-left 0.2s ease-in-out;
        -moz-transition:margin-left 0.2s ease-in-out;
        -o-transition:margin-left 0.2s ease-in-out;
        -ms-transition:margin-left 0.2s ease-in-out;
        transition:margin-left 0.2s ease-in-out;
    }
    .control_section {
        width: 100%;
        /* height:auto; */
        height:3vh;
        position:absolute;
        z-index: 99;
        bottom:30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prev_button , .main_next_button {
        padding:0px 20px;
    }
    .main_top svg {
        width:3vw;
        height:auto;
        color:white;
    }
    .pagenumber__control {
        display: flex;
        justify-content: center;
        align-items: center;
        /* grid-area: control; */
        color:white;
        ::-moz-range-thumb {
            background-color: red; /* Or any other color you prefer */
        }
    }
    .pagenumber__control > input {
        width:40vw;
    }
    .fullscreen_control > svg {
        height:50px;
        width:auto;
        color:white;
    }
    .zoom__control {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:10px;
        /* color:white; */
    }
    .zoom__slider {
        width: 100%; // Set the width of the slider
        height: 8px; // Set the height of the track
        border-radius: 4px; // Round the edges of the track
        appearance: none; // Remove default styles
      
        &::-webkit-slider-thumb {
          width: 16px; // Set the width of the thumb
          height: 16px; // Set the height of the thumb
          background-color: red; // Set the color of the thumb
          border: 2px solid red; // Add a border to the thumb
          border-radius: 50%; // Round the thumb to make it circular
          appearance: none; // Remove default styles
          cursor: pointer; // Change cursor to indicate interactivity
        }
    }
    .zoom__control__zoomin, .zoom__control__zoomout {
        background-color: transparent;
        border:none;
        color:white;
        font-size:4vh;
    }
    canvas{
        overflow: hidden;
        float:none;
    }
    .visible_description{
        display: flex;
        justify-content: center;
        align-items: center;
        width:400px;
        height:80px;
        font-size:5vw;
        text-align:center;
        border-radius:20px;
        background-color: #E92234;
    }
    .hidden_description{
        display: none;
        width:0px;
    }

    

    p{
        margin : 0px;
    }
    @media only screen and (max-width:1280px){
        .group_button {
            position:absolute;
            display:flex;
            justify-content: space-between;
            padding:0px 80px;
            bottom:30px;
            width:100%;
            height:fit-content;
        }
    }

    @media only screen and (max-width:980px){
        .zoom__control {
            display: none;
        }
        body {
            margin :0px !important;
        }
        .group_button {
            position:absolute;
            display:flex;
            justify-content: space-between;
            padding:0px 80px;
            bottom:30px;
            width:100%;
            height:fit-content;
        }
    }
    @media only screen and (max-width:768px){
        main {
            width:100vw !important;
            height:70vh !important;
        }
        .main_top {
            height:70vh !important;
        }
        .magazine_section {
            height:70vh !important;
            width: 100vw !important;
            overflow: scroll;
        }
        #magazine {
            width: 100vw !important;
            height: 70vh !important;
        }
        .group_button {
            position:absolute;
            display:flex;
            justify-content: space-between;
            padding:0px 40px;
            bottom:30px;
            width:100%;
            height:fit-content;
        }
    }
    @media only screen and (max-width:480px){
        .prev_button , .main_next_button {
            padding:0px 5px;

            img {
                width:35px;
                height:auto;
            }
        }
    }
    
}

// .swiper__section{
//     position:relative;
//     .swiperControl {
//       position: absolute;
//       width:fit-content;
//       right:200px;
//       z-index: 9;
//       top: 111px;
//       padding:0px;
//       margin:0px;
  
//       .next_button {
//         border:none;
//         padding:0px;

//         background-color: transparent;
//       }
//     }
//   }
  
//   swiper-slide {
//     position:relative;
//     padding-bottom: 10px;
//   }
  