* {
  margin: 0px;
  padding: 0px;
}

.swiper > div {
    flex:1;
  }
  .swiper__section {
    margin-top: 100px;
  }
  swiper-slide {
    position:relative !important;
    padding-bottom: 10px;
    width:fit-content;
    height: fit-content;
  }
  .swiper-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:0px 200px;
    gap:20px;
  }
  .mySwiper {
  
    // justify-content: space-between;
    // width: 90vw;
    .swiperSlide__buttons {
      -webkit-backdrop-filter: blur(20px);
      background-color: rgba(0, 0, 0, 0.55);
      display: none;
      position:absolute;
      gap:20px;
      margin-top: 20px;
      button {
        border: none;
        background-color: #FAFAFA;
        height:70px;

      }
  
      a {
        font-size: 28px;
        text-decoration: none;
        color:inherit;
      }
  
      *:hover {
        cursor: pointer;
      }
      .read {
        background-color:#E92233;
        color:white;

      }
  
      .desc {
        color: #ED2736 !important;
        border:#E92233 solid 3px !important;

      }
    }
    
    swiper-slide:hover .swiperSlide__buttons {
    // mix-blend-mode: hard-light;
      display: flex;
    // display: flex;
    
    }
    swiper-slide:hover {
      transform: scale(0.97);
    }
    swiper-slide {
      // padding-left:4px;
    }
    .sampulPDF {
      width: 250px;
      height: 362px;
      box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.50);
    }
    h3 {
      font-size: 2rem;
      font-weight:700;
    }
  
    .magazines {
      // --swiperIndex:0;
      display: flex;
      overflow: hidden;
      width: 100%;
      position: relative;
      .magazine {
        position: relative;
        flex: 0 0 calc(100%/var(--items-in-view));
        max-width: calc(100%/var(--items-in-view));
        transition: 0.5s;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        .img__container {
          width: 90%;
          height: 90%;
          background-color: white;
          position: relative;
        }
  
        img {
          height: 362.76px;
        }
  
        .magazine__lightbox {
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          position: absolute;
          display: none;
          justify-content: center;  
          align-items: center;
          top: 0;
          left: 5px;
          z-index: 1;
          transition: 0.5s;
        }
  
      }
  
      .magazine:hover {
        .magazine__lightbox {
          display: flex;
        }
      }
     
    }
  
    .toggle {
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 150px;
      z-index: 2;
      position: absolute;
      border-radius: 10px;
      // transform: translateY(-15%);
      
    }
    
    .right {
      right:20px;
    }
    
    .left {
      left:0px;
    }
    
  }
  
  
  @media (max-width:2560px){
    .swiper__section {
      h1 {
        font-size:36px;
        font-family: verdana;
        font-weight: 600;
      }
      p {
        font-size:20px;
        font-family: verdana;
      }
    }
    .mySwiper {
      p {
        width: 250px;
      }
      .swiperSlide__buttons {
        -webkit-backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.55);
        display: none;
        position:absolute;
        top:0px;
        margin: 0px !important;
        width: 250px;
        height: 362px;
        gap:20px;
        justify-content: center;
        align-items: center;
        
        button {
          border: none;
          background-color: #FAFAFA;
        }
        * {
          width:220px;
          height:60px;
          border-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    
        a {
          font-size:24px;
          text-decoration: none;
          color:inherit;
        }
    
        *:hover {
          cursor: pointer;
        }
        .read {
          background-color:#E92233;
          color:white;
        }
    
        .desc {
          color: #ED2736;
          background-color: #F8F8F8;
          border-style: solid;
          border-color: #E92233;
        }
      }
    }
    .swiper__section{
      position:relative;
      width:100vw;
    }
  
    .swiperControl {
      position: absolute;
      width:fit-content;
      right:200px;
      z-index: 9;
      top: 98px;
      padding:0px;
      margin:0px;
  
      .next_button {
        border:none;
        background-color: transparent;
      }
    }
    .sampulPDF {
      width: 250px;
      height: 362px;
      box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.50);
    }
  
  }
  @media (max-width:1760px){

  }
  @media (max-width:1560px){
    .swiper__section {
      h1 {
        font-size:36px;
        font-family: verdana;
        font-weight: 600;
      }
      p {
        font-size:20px;
        font-family: verdana;
      }
    }
    .mySwiper {
      p {
        width: 250px;
      }
      .swiperSlide__buttons {
        -webkit-backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.55);
        display: none;
        position:absolute;
        top:0px;
        margin: 0px !important;
        width: 250px;
        height: 362px;
        gap:20px;
        justify-content: center;
        align-items: center;
        
        button {
          border: none;
          background-color: #FAFAFA;
        }
        * {
          width:220px;
          height:60px;
          border-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    
        a {
          font-size:24px;
          text-decoration: none;
          color:inherit;
        }
    
        *:hover {
          cursor: pointer;
        }
        .read {
          background-color:#E92233;
          color:white;
        }
    
        .desc {
          color: #ED2736;
          background-color: #F8F8F8;
          border-style: solid;
          border-color: #E92233;
        }
      }
    }
    .swiper-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding:0px 150px;
        gap:20px;
      }
      .swiperControl {
        position: absolute;
        width:fit-content;
        right:149px;
        z-index: 9;
        top: 98px;
        padding:0px;
        margin:0px;
    
        .next_button {
          border:none;
          background-color: transparent;
        }
      }
  } 
  
  @media (max-width:1280px){
    .swiper__section {
      margin-top: 50px;
    }
    
    .swiper-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding:0px 100px;
      gap:20px;
      h1 {
        font-size:32px;
        font-family: verdana;
        font-weight: 600;
      }
      p {
        font-size:20px;
        font-family: verdana;
      }
    }
      .swiperControl {
        position: absolute;
        width:fit-content;
        right:98px;
        z-index: 9;
        top: 94px;
        padding:0px;
        margin:0px;
        img {
            height:220px;
            width:auto;
          }
    
        .next_button {
          border:none;
          background-color: transparent;
        }
      }
    .mySwiper {
      .sampulPDF {
          width: 200px;
          height: 280px;
          box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.50);
      }
      p {
        width: 200px;
      }
      

      .swiperSlide__buttons {
        -webkit-backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.55);
        display: none;
        position:absolute;
        top:0px;
        margin: 0px !important;
        width:200px;
        height:280px;
        gap:20px;
        justify-content: center;
        align-items: center;
        
        button {
          border: none;
          background-color: #FAFAFA;
        }
        * {
          width:180px;
          height:50px;
          border-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    
        a {
          font-size:20px;
          text-decoration: none;
          color:inherit;
        }
    
        *:hover {
          cursor: pointer;
        }
        .read {
          background-color:#E92233;
          color:white;
        }
    
        .desc {
          color: #ED2736;
          background-color: #F8F8F8;
          border-style: solid;
          border-color: #E92233;
        }
      }
  }
}
  
  
  @media (max-width:821px){
    .mySwiper {
      .swiperSlide__buttons {
        -webkit-backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.55);
        display: none;
        position:absolute;
        top:0px;
        margin: 0px;
        width: 160px;
        height: 230px;
        gap:20px;
        justify-content: center;
        align-items: center;
        
        button {
          border: none;
          background-color: #FAFAFA;
        }
        * {
          width:120px;
          height:40px;
          border-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    
        a {
          font-size:18px;
          text-decoration: none;
          color:inherit;
        }
    
        *:hover {
          cursor: pointer;
        }
        .read {
          background-color:#E92233;
          color:white;
        }
    
        .desc {
          color: #ED2736;
          background-color: #F8F8F8;
          border-style: solid;
          border-color: #E92233;
        }
      }
    }
    .swiper__section {
      margin-top: 24px;
    }
    .swiper-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding:0px 50px;
      gap:16px;

      h1 {
        font-size:32px;
        font-family: verdana;
        font-weight: 600;
      }
      p {
        font-size:16px;
        font-family: verdana;
      }
    }
      .mySwiper {
        width: 100%;

      .sampulPDF {
        width: 160px;
        height: 230px;
        box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.50);
        }
        p {
          width:140px;
        }
      }
      
      .swiperControl {
        position: absolute;
        width:fit-content;
        right:48px;
        z-index: 9;
        top: 78px;
        padding:0px;
        margin:0px;
        display: flex;
        justify-content: end;
        img {
          height:180px;
          width:auto;
        }
        .next_button {
        display: flex;
        padding:0px;
        width: 35.4px;
        justify-content: end;
        border:none;
        background-color: transparent;
      }
      }
  
  }

@media (max-width:520px){
  .mySwiper {
    .swiperSlide__buttons {
      -webkit-backdrop-filter: blur(20px);
      background-color: rgba(0, 0, 0, 0.55);
      display: none;
      position:absolute;
      top:0px;
      margin: 0px;
      width: 110px;
      height: 160px;
      gap:20px;
      justify-content: center;
      align-items: center;
      
      button {
        border: none;
        background-color: #FAFAFA;
      }
      * {
        width:100px;
        height:40px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      a {
        font-size:16px;
        text-decoration: none;
        color:inherit;
      }
  
      *:hover {
        cursor: pointer;
      }
      .read {
        background-color:#E92233;
        color:white;
      }
  
      .desc {
        color: #ED2736;
        background-color: #F8F8F8;
        border-style: solid;
        border-color: #E92233;
      }
    }
  }
  .swiper-box {
    width: 100%;
    gap:8px !important;
    padding:0px 20px;
    h1 {
      font-size:20px;
      font-family: verdana;
      font-weight: 600;
    }

    p {
      font-size: 12px;
    }
  }
  .mySwiper {
    .sampulPDF {
      width: 110px;
      height: 160px;
      box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.50);
    }
  }
  .swiperControl {
    position: absolute;
    width:fit-content;
    right:19px;
    z-index: 9;
    top: 50px;
    padding:0px;
    margin:0px;
    display: flex;
    justify-content: end;
    img {
      height:120px;
      width:auto;
    }
    .next_button {
      display: flex;
      padding:0px;
      width: 35.4px;
      justify-content: end;
      border:none;
      background-color: transparent;
    }
  }
  
}

  @media (max-width:432px){
    .mySwiper {
      h1 {
        font-size:12px;
        font-family: verdana;
        font-weight: 600;
      }

      p {
        font-size: 10px;
      }
      .mySwiper {
        .swiperSlide__buttons {
          -webkit-backdrop-filter: blur(20px);
          background-color: rgba(0, 0, 0, 0.55);
          display: none;
          position:absolute;
          top:0px;
          margin: 0px;
          width: 110px;
          height: 160px;
          gap:20px;
          justify-content: center;
          align-items: center;
          
          button {
            border: none;
            background-color: #FAFAFA;
          }
          * {
            width:100px;
            height:40px;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      
          a {
            font-size:12px;
            text-decoration: none;
            color:inherit;
          }
      
          *:hover {
            cursor: pointer;
          }
          .read {
            background-color:#E92233;
            color:white;
          }
      
          .desc {
            color: #ED2736;
            background-color: #F8F8F8;
            border-style: solid;
            border-color: #E92233;
          }
        }
      }
    }

    .swiper-box {
      width: 100%;
      gap:8px !important;
      padding:0px 20px;
      h1 {
        font-size: 16px;
      }
    }
    .mySwiper {
      .sampulPDF {
        width: 110px;
        height: 150px;
        box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.50);
      }
    }
    .swiperControl {
      position: absolute;
      width:fit-content;
      right:19px;
      z-index: 9;
      top: 40px;
      padding:0px;
      margin:0px;
      display: flex;
      justify-content: end;
      img {
        height:120px;
        width:auto;
      }
      .next_button {
        display: flex;
        padding:0px;
        width: 35.4px;
        justify-content: end;
        border:none;
        background-color: transparent;
      }
    }
  }

  @media (max-width:380px){
    .mySwiper {
      .swiperSlide__buttons {
        -webkit-backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.55);
        display: none;
        position:absolute;
        top:0px;
        margin: 0px;
        width: 100px;
        height: 150px;
        gap:20px;
        justify-content: center;
        align-items: center;
        
        button {
          border: none;
          background-color: #FAFAFA;
        }
        * {
          width:100px;
          height:40px;
          border-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    
        a {
          font-size:16px;
          text-decoration: none;
          color:inherit;
        }
    
        *:hover {
          cursor: pointer;
        }
        .read {
          background-color:#E92233;
          color:white;
        }
    
        .desc {
          color: #ED2736;
          background-color: #F8F8F8;
          border-style: solid;
          border-color: #E92233;
        }
      }
    }

    .swiper-box {
      width: 100%;
      gap:8px !important;
      padding:0px 20px;
      h1 {
        font-size: 16px;
      }
    }
    .mySwiper {
      .sampulPDF {
        width: 100px;
        height: 150px;
        box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.50);
      }
    }
    .swiperControl {
      position: absolute;
      width:fit-content;
      right:19px;
      z-index: 9;
      top: 40px;
      padding:0px;
      margin:0px;
      display: flex;
      justify-content: end;
      img {
        height:120px;
        width:auto;
      }
      .next_button {
        display: flex;
        padding:0px;
        width: 35.4px;
        justify-content: end;
        border:none;
        background-color: transparent;
      }
    }
    .swiper-box {
      width: 100%;
      gap:8px !important;
      padding:0px 20px;
      h1 {
        font-size: 16px;
      }
    }
    .mySwiper {
      .sampulPDF {
        width: 100px;
        height: 140px;
        box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.50);
      }
    }
    .swiperControl {
      position: absolute;
      width:fit-content;
      right:19px;
      z-index: 9;
      top: 40px;
      padding:0px;
      margin:0px;
      display: flex;
      justify-content: end;
      img {
        height:120px;
        width:auto;
      }
      .next_button {
        display: flex;
        padding:0px;
        width: 35.4px;
        justify-content: end;
        border:none;
        background-color: transparent;
      }
    }
  }