* {
  font-family: Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav {
  --textColor: #E92233;
  --borderColor: #f9f9f9;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 0px;
  border-color: var(--borderColor);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
nav p {
  color: var(--textColor);
}
nav #hamburger-menu {
  display: none;
}
nav .nav__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 300px;
  font-weight: bold;
}
nav .nav__menu > *:hover {
  cursor: pointer;
}

.home__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home__page > * {
  flex: 1;
}
.home__page .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 40vh;
}
.home__page .hero .title {
  color: #E92233;
}
.home__page .content {
  width: 45%;
  flex-wrap: wrap;
  word-wrap: break-word;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.home__page .illustration {
  width: 40%;
  height: 100%;
  background-image: url("../assets/hero/hero-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__page .illustration img {
  transform: scale(0.7);
}

.hero__buttons {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.hero__buttons * {
  height: 40px;
  width: 160px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__buttons a {
  text-decoration: none;
  color: inherit;
}
.hero__buttons *:hover {
  cursor: pointer;
}
.hero__buttons .read {
  background-color: #E92233;
  color: white;
}
.hero__buttons .desc {
  color: #ED2736;
  border-style: solid;
  border-color: #E92233;
}

.swiper > div {
  flex: 1;
}

.swiper {
  --items-in-view:5;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  width: 90vw;
}
.swiper h3 {
  font-size: 2rem;
  font-weight: 700;
}
.swiper .magazines {
  --swiperIndex:0;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  max-width: 1250px;
  width: 100%;
  position: relative;
}
.swiper .magazines .magazine {
  position: relative;
  flex: 0 0 calc(100% / var(--items-in-view));
  max-width: calc(100% / var(--items-in-view));
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.swiper .magazines .magazine .img__container {
  width: 90%;
  height: 90%;
  background-color: white;
  position: relative;
}
.swiper .magazines .magazine img {
  height: 284px;
}
.swiper .magazines .magazine .magazine__lightbox {
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 5px;
  z-index: 1;
  transition: 0.5s;
}
.swiper .magazines .magazine:hover .magazine__lightbox {
  display: flex;
}
.swiper .toggle {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 150px;
  z-index: 2;
  position: absolute;
  border-radius: 10px;
}
.swiper .right {
  right: 20px;
}
.swiper .left {
  left: 0px;
}

@media screen and (max-width: 1200px) {
  .magazine {
    --items-in-view: 3;
  }
}
@media screen and (max-width: 700px) {
  nav {
    justify-content: space-between;
  }
  nav .nav__menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    flex-direction: column;
    background-color: white;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  nav #hamburger-menu {
    display: block;
  }
  nav .logo {
    width: 123px;
    height: 17px;
  }
  .magazines .magazine {
    flex: 0 0 100%;
    width: 100%;
  }
  .magazines img {
    width: 100%;
  }
  .magazines .magazine__lightbox {
    background-color: red;
    width: 20%;
    height: 80%;
  }
  .swiper h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .home__page {
    margin: 0;
  }
  .home__page .hero {
    gap: 20px;
  }
  .home__page .hero img {
    width: 150px;
    height: 200px;
  }
  .home__page .hero .content h1 {
    font-size: 1.2rem;
  }
  .home__page .hero .content p {
    margin-top: 30px;
    font-size: 0.8rem;
  }
  .home__page .hero__buttons {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .home__page .hero__buttons div {
    width: 100px;
    font-size: small;
  }
  .home__page .right {
    right: 0px;
  }
}/*# sourceMappingURL=home.css.map */