/* @font-face {
    font-family: 'verdana';
    src : url('fonts/verdana.ttf');
  }
  
  @font-face {
    font-family: 'verdana bold';
    src : url('fonts/verdana-bold.ttf');
  }
  @font-face {
    font-family: 'verdana bold italix';
    src : url('fonts/verdana-bold-italic.ttf');
  } */